@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%;
}

body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.mb-2 { margin-bottom: 2rem }

.bg-danger { background-color: #EF5350 }

.text-primary { color: #1ABC9B !important; }

a.text-primary:hover { color: #1A8C9B }

.btn.btn-primary-outline {
    background-color: #FFF;
    color: #1ABC9B;
    border: solid 1px #1ABC9B;
    font-weight: bold;
    box-shadow: none !important;
}

.btn.btn-primary-outline:hover {
    background-color: #1ABC9B;
    color: #FFF;
}

.btn.btn-block { width: 100% !important; }

.shadow-lg { box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.4) !important; }
