@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-height: 100%;
}

body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

label {
    font-size: 14px;
    color: #444;
    margin-bottom: 8px;
}

input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
}

button.btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
}

button.btn-primary-outline {
    background-color: white;
    color: rgba(161,34,207,1);
    border: solid 1px;
    font-weight: bold;
}

button.btn-primary-outline:hover {
    background-color: rgba(161,34,207,1);
    color: #fff;
}

#login {
    background-color: rgba(161,34,207,1);
    position: absolute;
    min-height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

#login form {
    margin: 80px auto;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 40px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(0, 0, 0, 0.3);
    padding: 3rem;
    background-color: #fff;
    border-radius: 7px;
}
